<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shauryas.p2p_voip" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hotspot Communication Service"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Hotspot Communication Service" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setup"
            android:label="@string/title_activity_setup" >
        </activity>
        <activity
            android:name=".clientscreen"
            android:label="@string/title_activity_clientscreen" >
        </activity>

        <service
            android:name=".ServerStart"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ChatScreen"
            android:label="@string/title_activity_chat_screen" >
        </activity>
    </application>

</manifest>
